@font-face {
    font-family: uwu;
    src: url(fuente1.otf);
  }

  @font-face {
    font-family: owo;
    src: url(Regular.ttf);
  }

body {
    margin: 0;
    background-image: url("../img/bg.jpg");
    color: #fff;
}
h2{
    text-align: center;
    font-family: uwu;
}
p{
    font-family: owo;
    font-size: 50px;;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#foto img{
    width: 950px;
    height: 600px;
}

ul.topnav li a:hover:not(.active) {background-color: rgb(119, 119, 119);}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

.footer {
    background-color: #1f3764;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 0;
}
.footer img{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
    #foto img{width: 450px; height: 250px;}
}